body {
	--fg: #557;
	--bg: white;
	--fg-paramount: #95B;
	--fg-required: #38C;
	--fg-optional: #598;
	--fg-template: #C39;
	--fg-link: #83C;
	--fg-hint: #C83;
	font-family: Sans-Serif;
	color: var(--fg);
	cursor: default;
	user-select: none;
}
select {
	color: var(--fg);
	font: bold 1em "Lucida Console";
}
.hidden {
	display: none; 
}
h1 {
	text-align: center;
}
h1, h3 {
	font-family: "Lucida Console";
}
h4 {
	font-family: "Lucida Console";
	margin: .2em;
}
.small {
	font-size: 60%;
}
.tiny {
	font-size: 50%;
	font-family: "Lucida Sans Unicode";
}
a {
	color: var(--fg-link);
}
em {
	font-style: normal;
	color: var(--fg-template);
	text-shadow: 0 0 2px var(--fg-template);
}
[hint]::before {
	font-weight: normal;
	font-style: normal;
	color: var(--fg-hint);
	content: '[' attr(hint) '] ';
}
#problems ol {
	list-style-type: upper-roman;
	color: darkgray;
	margin-bottom: 1em;
}
.paramount {
	--fg-task: var(--fg-paramount);
}
.required {
	--fg-task: var(--fg-required);
}
.optional {
	--fg-task: var(--fg-optional);
}
.task {
	font-family: "Lucida Console";
	border-bottom: 1px solid var(--fg-task);
	margin: 2px auto;
	max-width: 40em;
	list-style: none;
}
.task::before {
	color: var(--fg-task);
	text-shadow: 0 0 2px var(--fg-task);
	content: attr(value) "%";
	text-align: center;
	margin: .5em;
	width: 2em;
	float: right;
}
.task > *{
	margin-left: -2.5em;
}
.task > li {
	color: var(--fg-task);
	font-style: italic;
}
.spoiler {
	cursor: pointer;
}
.spoiler:hover {
	text-decoration: underline;
	--symbol: "\00D7";
}
.spoiler::before {
	color: var(--bg);
	background: var(--fg-task);
	content: var(--symbol, "?");
	text-align: center;
	font-style: normal;
	margin-right: .25em;
	padding: 0 .25em;
	float: left;
}
.closed:hover {
	text-decoration: underline;
	--symbol: "\2026";
}
.closed + * {
	display: none; 
}